.md-typeset h1,
.md-content__button,
.md-header,
.md-tabs {
    display: none;
}

h1 {
  font-size: 0.5rem;
}

h3 {
  text-align: center;
}

@media (max-width: 767px) {
  .md-typeset {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none !important;
}